<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>User page</title>
</head>

<a href="/">Main Page</a>
<br>
<br>
<br>
<table th:object="${user}">

    <tr>
        <th>Id :</th>
        <th th:text="*{id}"></th>
    </tr>
    <tr >
        <th>Name :</th>
        <th th:text="*{name}"></th>
    </tr>
    <tr>
        <th>LastName :</th>
        <th th:text="*{lastName}">Last Name</th>
    </tr>
    <tr>
        <th>Age :</th>
        <td th:text="*{age}">Age</td>
    </tr>
</table>




</body>
</html>